// ===================== fonts =============================== //

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Playfair+Display:ital@1&display=swap');

// ===================== / fonts =============================== //



// ===================== mixins =============================== //
@mixin font-main {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;

}

@mixin second-main {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

@mixin note {
    margin-top: 30vh;

    &-info {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    &__title {
        margin-bottom: 2vh;

        font-size: 46px;
        line-height: 50px;
        font-weight: 500;
        letter-spacing: -0.04em;
    }

    &__text {
        margin-bottom: 3vh;

        font-size: 14px;
        line-height: 28px;
        font-weight: 300;
    }

    &__links {

        &-start,
        &-explore {
            padding: 1vh 2vw;
            background-color: #fff;
            box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
            border-radius: 25px;
            font-size: 12px;
            line-height: 32px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: #c2c9db;
        }

        &-start:hover,
        &-explore:hover {
            background-color: #6e45e2;
            color: #fff;
            transition: all 1s ease-in-out;
            transform: scale(0.899);
        }



    }
}


@mixin arrow-down {
    .bi {
        margin-top: 14vh;
        width: 34px;
        height: 34px;
        box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
        border-radius: 32px;
        background-color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #6e45e2;
        }

    }

    .arrow:hover {
        transform: scale(1.1);
        transition: all 0.6 ease-in-out;
    }
}

@mixin bg-gradient {
    background: #6681EA;
    background: -moz-linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
    background: -webkit-linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
    background: linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
}

// ===================== / mixins =============================== //




// ===================== variables =============================== //



// ===================== / variables =============================== //



// ===================== common =============================== //
a,
button {
    cursor: pointer;
}

a:active,
button:active {
    opacity: .2;
}

a,
a:hover {
    text-decoration: none;
}

// ===================== / common  =============================== //



// ===================== header  =============================== //

.header {
    @include font-main();
    @include arrow-down();

    height: 110vh;
    padding-top: 6vh;
    padding-bottom: 6vh;

    background: url("../img/header_bg.png") no-repeat;
    background-size: cover;
    color: #fff;

    .logo {
        &__name {
            margin-top: 1vh;

            font-size: 30px;
            line-height: 29px;
            font-weight: 700;
            letter-spacing: 0.2em;
        }

    }

    .nav {
        margin-top: 2vh;

        &__item {

            &-link {
                color: #fff;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .wrap {
        margin-top: 2vh;

        .button {

            border: 1px solid #fff;
            padding: 1vh 2vw;
            border-radius: 20px;

            color: #fff;

            &:hover {
                opacity: .7;
            }
        }


    }

    .note {
        @include note();
    }



}

// ===================== / header  =============================== //




// ===================== choose =============================== //

.choose {
    @include arrow-down();

    height: 115vh;
    background: url("../img/choose_bg.png") no-repeat;
    background-size: cover;

    .note {
        @include note();

        &-info,
        &__text {
            color: #9fa4af;
            font-size: 12px;
        }

        &__title {
            color: #4f4f6f;
        }
    }
}


// ===================== / choose =============================== //


.features {
    @include bg-gradient();
    @include font-main();

    height: 180vh;
    padding-top: 8vh;

    &-info {
        color: #fff;

        p {
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        &__title {
            font-size: 40px;
            line-height: 72px;
            letter-spacing: -0.04em;
        }



        &__subtitle {}
    }

    .parts {
        margin-top: 10vh;
        color: #fff;

        &__item {
            margin-top: 3vh;
            margin-right: 2vw;

            &-col {


                &_title {
                    margin-bottom: 3vh;
                    font-size: 20px;
                    font-weight: 500;
                }

                &_text {
                    width: 19vw;
                    font-size: 16px;
                    font-weight: 300;
                }
            }

            &-icon {
                margin-right: 2vw;


                .bi {}
            }

        }
    }



    .owl-carousel {
        margin-top: 20vh;
        margin-left: 6vw;

        .owl__item {

            img {
                border-radius: 5px;
                
}
            }
        }
    }



