// ===================== fonts =============================== //

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Playfair+Display:ital@1&display=swap');

// ===================== / fonts =============================== //



// ===================== mixins =============================== //
@mixin font-main {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;

}

@mixin second-main {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

@mixin note {

    &-info {
        @include info();
    }

    &__title {
        @include title();
    }

    &__text {
        margin-bottom: 3vh;

        font-size: 14px;
        line-height: 28px;
        font-weight: 300;

        @media (max-width: $screen-md-max) {
            line-height: 24px;
            font-size: 12px;
        }
    }

    &__links {

        &-start,
        &-explore {
            @include btn();
        }

        &-start:hover,
        &-explore:hover {
            @include btn-hover();
        }



    }

    @media (max-width: $screen-md-max) {}
}

@mixin btn {

    padding: 1vh 2vw;
    background-color: #fff;
    box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
    border-radius: 25px;
    font-size: 10px;
    line-height: 28px;
    font-weight: 600;

    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #c2c9db;

    @media (max-width: $screen-xs-max) {
        font-size: 8px;
        padding: 5px 12px;
    }
}

@mixin btn-hover {
    background-color: #6e45e2;
    color: #fff;
    transition: all 1s ease-in-out;
    transform: scale(0.899);
}



@mixin arrow-down {
    .arrow {
        padding-top: 20vh;
    }

    .bi {
        width: 34px;
        height: 34px;
        box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
        border-radius: 32px;
        background-color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #6e45e2;
        }

    }

    .arrow:hover {
        transform: scale(1.1);
        transition: all 1 ease-in-out;
    }

    @media (max-width: $screen-md-max) {}
}

@mixin bg-gradient {
    background: #6681EA;
    background: -moz-linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
    background: -webkit-linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
    background: linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
}

@mixin info {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $color-grey;
}

@mixin title {
    margin-bottom: 2vh;

    font-size: 46px;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: $color-dark;

    @media (max-width: $screen-md-max) {
        font-size: 30px;
    }
}


@mixin burger-menu {
    #sidebar-wrapper {
        position: fixed;
        z-index: 2;
        right: 0;
        width: 10vw;
        height: 60vh;
        transition: all 0.4s ease 0s;
        transform: translateX(250px);
        background: rgba(255, 255, 255, 0.8);
        border-left: 1px solid rgba(255, 255, 255, 0.1);

        @media (max-width: $screen-xs-max) {
            width: 25vw;
        }
    }

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 20vw;
        margin: 0;
        padding: 0;
        list-style: none;

        @media (max-width: $screen-xs-max) {
            width: 25vw;
        }




    }



    .sidebar-nav li.sidebar-nav-item a {
        display: block;
        text-decoration: none;
        color: $color-violet;
        padding: 15px;
        font-weight: 500;
        text-align: center;

    }

    .sidebar-nav li a:hover {
        text-decoration: none;
        transform: scale(1.1);
        transition: all 0.5 ease;
        background: rgba(255, 255, 255, 0.2);
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }

    .sidebar-nav>.sidebar-brand {
        font-size: 1.2rem;
        background: rgba(52, 58, 64, 0.1);
        height: 80px;
        line-height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    }

    .sidebar-nav>.sidebar-brand a {
        color: #fff;
    }

    .sidebar-nav>.sidebar-brand a:hover {
        color: #fff;
        background: none;
    }

    #sidebar-wrapper.active {
        right: 310px;
        width: 30vw;
        transition: all 0.6s ease 0s;

        @media (max-width: $screen-xs-max) {
            width: 50vw;
        }
    }

    .menu-toggle {
        position: fixed;
        right: 4vh;
        top: 3vh;
        text-align: center;
        text-decoration: none;
        background: transparent;
        line-height: 50px;
        z-index: 60;

        .fa-bars {
            color: #a9a9a9;
            z-index: 60;
        }

        .fa {
            margin-right: 3vw;
            margin-top: 6vh;
        }
    }

    .menu-toggle:focus,
    .menu-toggle:hover {
        text-decoration: none;
        opacity: 0.6;
    }

}

// ===================== / mixins =============================== //




// ===================== variables =============================== //

$color-dark: #4f4f6f;
$color-grey: #9fa4af;
$color-violet: #6e45e2;


$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;


// ===================== / variables =============================== //



// ===================== common =============================== //
a,
button {
    cursor: pointer;
}

a:active,
button:active {
    opacity: .2;
}

a,
a:hover {
    text-decoration: none;

}

a:hover {
    color: $color-violet;
}

.hyphen {
    color: $color-violet;
}


.owl-carousel {
    outline: none;
}

// ===================== / common  =============================== //



// ===================== header  =============================== //

.header {
    @include burger-menu();
    @include font-main();
    @include arrow-down();

    padding-top: 6vh;
    padding-bottom: 6vh;

    background: url("../img/header_bg.png") no-repeat;
    background-size: cover;
    color: #fff;

    .logo {
        &__name {
            margin-top: 1vh;

            font-size: 30px;
            line-height: 29px;
            font-weight: 700;
            letter-spacing: 0.2em;
        }

    }

    .nav {
        padding-top: 2vh;

        &__item {

            &-link {
                color: #fff;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .wrap {
        margin-top: 2vh;

        .button {

            border: 1px solid #fff;
            border-radius: 20px;
            color: #fff;
            padding: 1.5vh 2vw;

            &:hover {
                opacity: .7;
            }
        }


    }

    .note {
        @include note();
        padding-top: 15vh;

        &-info,
        &__title {
            color: #fff;
        }

        &__links-start {
            margin-right: 1vw;

        }

        &__links-explore {}
    }

    .menu {
        display: none;
    }

    @media (max-width: $screen-lg-max) {}

    @media (max-width: $screen-md-max) {
        .menu {
            display: block;
        }

        .note {
            padding-top: 6vh;
        }

        .nav-wrap {
            display: none;
        }

        .wrap {
            display: none;
        }
    }

    @media (max-width: $screen-sm-max) {}

    @media (max-width: $screen-xs-max) {
        .note {
            justify-content: center;
            align-items: center;

            &__text {
                text-align: center;
            }
        }

        .logo {
            &__name {

                font-size: 20px;
            }
        }
    }



}

// ===================== / header  =============================== //




// ===================== choose =============================== //

.choose {
    @include arrow-down();

    background: url("../img/choose_bg.png") no-repeat center;
    background-size: cover;

    .note {
        @include note();
        padding-top: 12vh;

        &-info,
        &__text {
            color: #9fa4af;
            font-size: 12px;
        }

        &__title {
            color: #4f4f6f;
        }
    }

    .bi {
        margin-top: 10vh;
    }

    @media (max-width: $screen-lg-max) {}

    @media (max-width: $screen-md-max) {}

    @media (max-width: $screen-sm-max) {
        .note {
            padding-top: 8vh;

            &-info,
            &__text {
                color: #4f4f6f;
                font-size: 12px;
                font-weight: 400;
            }

            &__title {
                color: #4f4f6f;
            }
        }
    }

    @media (max-width: $screen-xs-max) {}
}


// ===================== / choose =============================== //




// ===================== features  =============================== //

.features {
    @include bg-gradient();
    @include font-main();
    padding-top: 8vh;



    &-info {
        color: #fff;

        p {
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        &__title {
            font-size: 40px;
            line-height: 72px;
            letter-spacing: 0.012em;
        }




    }

    .parts {
        margin-top: 10vh;
        color: #fff;

        &__item {
            margin-top: 3vh;
            margin-right: 2vw;

            &-col {


                &_title {
                    margin-bottom: 3vh;
                    font-size: 20px;
                    font-weight: 500;
                    width: 20vw;
                }

                &_text {
                    width: 19vw;
                    font-size: 16px;
                    font-weight: 300;
                }
            }


            &-icon {
                margin-right: 2vw;

            }

        }
    }



    .owl-carousel {
        padding-top: 10vh;
        padding-bottom: 5vh;

        .owl__item {

            img {
                border-radius: 5px;

            }
        }
    }


    @media (max-width: $screen-sm-max) {
        .parts {
            &__item {
                margin-right: 5vw;

                &-col {
                    &_title {
                        font-size: 10px;
                    }

                    &_text {
                        display: none;
                    }
                }
            }
        }

        &-info {
            &__title {
                font-size: 25px;
                line-height: 32px;
                text-align: center;
            }

            &__subtitle {
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

// ===================== / features  =============================== //



// ===================== testimonials  =============================== //


.testimonials {
    padding-top: 15vh;
    @include arrow-down();

    .arrow {
        padding-top: 2vh;
    }

    &-top {
        margin-bottom: 4vh;

        .info {
            @include info();
        }

        .title {
            @include title();
        }
    }

    .response {
        .owl-carousel {
            .owl__item {
                blockquote {
                    @include second-main();
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                    font-style: italic;
                    color: #4f4f6f;
                }

                .fa {
                    color: #9fa4af;
                }

                .fa-quote-left {
                    margin-left: 1vw;
                }

                .person {
                    img {
                        width: 64px;
                        height: 64px;
                        margin-right: 2vw;
                    }

                    p {
                        margin-top: 2vh;

                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        color: #9fa4af;
                    }

                    span {

                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 300;
                        text-transform: none;
                        color: #9fa4af;
                    }
                }
            }
        }
    }
}

// ===================== / testimonials =============================== //



// ===================== about =============================== //

.about {
    padding-top: 6vh;
    padding-bottom: 6vh;
    background: url("../img/about_bg.png") no-repeat;
    background-size: cover;

    .logo {
        img {
            width: 80%;
        }
    }

    .note {
        @include note();
        padding-top: 0;


        &__text {
            color: #9fa4af;
        }

        &__bottom {
            @include arrow-down();
        }
    }

    .info {
        @include info();
    }

    .title {
        @include title();
    }

    .arrow {
        .bi {
            margin-top: 0;
        }
    }

    @media (max-width: $screen-md-max) {


        .logo {
            padding-top: 10vh;
        }
    }

    @media (max-width: $screen-sm-max) {

        .info,
        .hyphen {
            color: #fff;
        }

        .title {
            color: #fff;

        }

        .note {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__text {
                color: #fff;
            }

            &_bottom {}

        }
    }
}

// ===================== / about =============================== //



// ===================== team =============================== //

.team {
    @include arrow-down();
    padding-top: 10vh;

    .arrow {
        padding-top: 2vh;
    }

    &-info {
        &__title {
            @include title()
        }

        p {
            @include info ()
        }

        &__subtitle {
            text-align: center;
            width: 30vw;
            line-height: 28px;
            font-weight: 400;
            color: #9fa4af;
        }
    }

    &-list {
        margin-top: 10vh;

        &__item {
            margin: 0;
            padding: 0;
            width: 25%;

            img {
                width: 92%;
            }



            &-name {
                margin-top: 5vh;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: #9fa4af;
            }

            &-position {
                font-size: 12px;
                font-weight: 300;
                text-transform: none;
            }
        }
    }


    @media (max-width: $screen-sm-max) {
        &-list {
            &__item {

                &-name {
                    font-size: 10px;
                }

            }
        }

        &-info {
            &__subtitle {

                width: 50vw;
                font-size: 12px;
            }
        }
    }
}

// ===================== / team =============================== //


// ===================== articles =============================== //

.articles {
    padding-top: 5vh;
    background-color: #f9fafc;


    .note {
        @include note();


        &__text {
            width: 33vw;

            text-transform: none;
        }



        &__links {
            padding-top: 5vh;
        }
    }



    .slide-three {
        margin-top: 3vh;
        box-sizing: border-box;

        .owl__item {
            display: flex;
            padding-left: 3vw;
            width: 30vw !important;
            height: 23vw !important;


            border-radius: 10px;
            background-color: #fff;


            .title {
                font-size: 18px;
                line-height: 50px;
                font-weight: 500;
                letter-spacing: 0.04em;
                color: #4f4f6f;
            }

            .data {
                margin-top: -2vh;
                font-size: 13px;
                line-height: 28px;
                font-weight: 400;
                color: #9fa4af;
            }

            .text {
                width: auto;
                padding-right: 2vw;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: #9fa4af;
            }

            object {
                width: 3vw;
                height: 2vh;
            }

            img {
                width: 30%;
                margin-left: -3vw;
            }

            .count-comments {
                margin-top: -1vh;
                font-size: 11px;
                line-height: 28px;
                font-weight: 400;
                color: #9fa4af;

            }




        }
    }

    .arrow {
        @include arrow-down();
    }

    @media (max-width: $screen-lg-max) {
        .owl__item {

            width: 30vw !important;
            height: 23vw !important;
        }
    }

    @media (max-width: $screen-md-max) {
        .slide-three {
            margin-top: 3vh;

            .owl__item {

                width: 46vw !important;
                height: 33vw !important;
                padding-left: 3vw;

                margin-right: 0;

                .title {
                    font-size: 14px;
                    line-height: 30px;
                    font-weight: 500;
                    letter-spacing: 0.04em;
                    color: #4f4f6f;
                }

                .data {
                    margin-top: -4vh;
                    font-size: 9px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #9fa4af;
                }

                .text {
                    width: auto;
                    padding-right: 1vw;
                    font-size: 10px;
                    line-height: 14px;
                    font-weight: 400;
                    color: #9fa4af;
                    margin-top: -2vh;
                }

                object {
                    width: 3vw;
                    height: 2vh;
                }

                img {
                    width: 30%;
                    margin-left: -3vw;
                }

                .count-comments {
                    margin-top: -1vh;
                    font-size: 11px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #9fa4af;
                }




            }
        }
    }

    @media (max-width: $screen-sm-max) {}

    @media (max-width: $screen-xs-max) {
        .slide-three {
            .owl__item {

                width: 80vw !important;
                height: 200px !important;
            }
        }
    }

    @media (max-width: 350px) {
        .slide-three {
            .owl__item {

                width: 90vw !important;
                height: 250px !important;
            }
        }
    }


}

// ===================== / articles =============================== //



// ===================== notification =============================== //

.notification {
    padding-top: 10vh;
    padding-bottom: 10vh;


    background: url("../img/map.png") no-repeat top center, linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);

    .note {
        @include note();


        &-info,
        &__title,
        &__text {
            color: #fff;
            text-align: center;
        }
    }
}

// ================================= / notification ========================================== //



// =================================== footer ============================================= //


.footer {

    padding-top: 6vh;
    padding-bottom: 4vh;
    background-color: #fff;

    .logo {
        margin-top: 1vh;
        margin-left: 4vw;

        &__name {
            margin-top: 1vh;

            font-size: 20px;
            line-height: 29px;
            font-weight: 700;
            letter-spacing: 0.2em;
        }

    }

    .nav {
        margin-top: 2vh;

        &__item {

            &-link {
                color: $color-dark;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .wrap {
        margin-top: 2vh;

        .button {

            @include btn();
            border: 2px solid $color-violet;



            &:hover {
                @include btn-hover();

            }
        }


    }

    .rights {
        margin-top: 5vh;

        border-top: 2px solid #f1f1f2;
        padding-top: 3vh;
        color: $color-grey;
        font-size: 14px;
    }

    .fa {
        margin-left: 1vw;
        color: $color-grey;

        &:hover {
            transform: scale(1.1);
            transition: all 1s ease;
        }
    }

 @media (max-width: $screen-sm-max) {
        .rights {
            font-size: 10px;
        }
    }
    @media (max-width: $screen-xs-max) {
        .rights {
            font-size: 7px;
        }
    }
}


// =================================== / footer ========================================== //