@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Playfair+Display:ital@1&display=swap");
a,
button {
  cursor: pointer;
}

a:active,
button:active {
  opacity: 0.2;
}

a,
a:hover {
  text-decoration: none;
}

.header {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  height: 110vh;
  padding-top: 6vh;
  padding-bottom: 6vh;
  background: url("../img/header_bg.png") no-repeat;
  background-size: cover;
  color: #fff;
}
.header .bi {
  margin-top: 14vh;
  width: 34px;
  height: 34px;
  box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
  border-radius: 32px;
  background-color: #fff;
  cursor: pointer;
}
.header .bi:hover {
  background-color: #6e45e2;
}
.header .arrow:hover {
  transform: scale(1.1);
  transition: all 0.6 ease-in-out;
}
.header .logo__name {
  margin-top: 1vh;
  font-size: 30px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.header .nav {
  margin-top: 2vh;
}
.header .nav__item-link {
  color: #fff;
}
.header .nav__item-link:hover {
  opacity: 0.7;
}
.header .wrap {
  margin-top: 2vh;
}
.header .wrap .button {
  border: 1px solid #fff;
  padding: 1vh 2vw;
  border-radius: 20px;
  color: #fff;
}
.header .wrap .button:hover {
  opacity: 0.7;
}
.header .note {
  margin-top: 30vh;
}
.header .note-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.header .note__title {
  margin-bottom: 2vh;
  font-size: 46px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: -0.04em;
}
.header .note__text {
  margin-bottom: 3vh;
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
}
.header .note__links-start, .header .note__links-explore {
  padding: 1vh 2vw;
  background-color: #fff;
  box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
  border-radius: 25px;
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #c2c9db;
}
.header .note__links-start:hover, .header .note__links-explore:hover {
  background-color: #6e45e2;
  color: #fff;
  transition: all 1s ease-in-out;
  transform: scale(0.899);
}

.choose {
  height: 115vh;
  background: url("../img/choose_bg.png") no-repeat;
  background-size: cover;
}
.choose .bi {
  margin-top: 14vh;
  width: 34px;
  height: 34px;
  box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
  border-radius: 32px;
  background-color: #fff;
  cursor: pointer;
}
.choose .bi:hover {
  background-color: #6e45e2;
}
.choose .arrow:hover {
  transform: scale(1.1);
  transition: all 0.6 ease-in-out;
}
.choose .note {
  margin-top: 30vh;
}
.choose .note-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.choose .note__title {
  margin-bottom: 2vh;
  font-size: 46px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: -0.04em;
}
.choose .note__text {
  margin-bottom: 3vh;
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
}
.choose .note__links-start, .choose .note__links-explore {
  padding: 1vh 2vw;
  background-color: #fff;
  box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
  border-radius: 25px;
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #c2c9db;
}
.choose .note__links-start:hover, .choose .note__links-explore:hover {
  background-color: #6e45e2;
  color: #fff;
  transition: all 1s ease-in-out;
  transform: scale(0.899);
}
.choose .note-info, .choose .note__text {
  color: #9fa4af;
  font-size: 12px;
}
.choose .note__title {
  color: #4f4f6f;
}

.features {
  background: #6681EA;
  background: linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  height: 180vh;
  padding-top: 8vh;
}
.features-info {
  color: #fff;
}
.features-info p {
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.features-info__title {
  font-size: 40px;
  line-height: 72px;
  letter-spacing: -0.04em;
}
.features .parts {
  margin-top: 10vh;
  color: #fff;
}
.features .parts__item {
  margin-top: 3vh;
  margin-right: 2vw;
}
.features .parts__item-col_title {
  margin-bottom: 3vh;
  font-size: 20px;
  font-weight: 500;
}
.features .parts__item-col_text {
  width: 19vw;
  font-size: 16px;
  font-weight: 300;
}
.features .parts__item-icon {
  margin-right: 2vw;
}
.features .owl-carousel {
  margin-top: 20vh;
  margin-left: 6vw;
}
.features .owl-carousel .owl__item img {
  border-radius: 5px;
}