// ===================== fonts =============================== //

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Playfair+Display:ital@1&display=swap');

// ===================== / fonts =============================== //



// ===================== mixins =============================== //
@mixin font-main {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;

}

@mixin second-main {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

@mixin note {
    margin-top: 30vh;

    &-info {
        @include info();
    }

    &__title {
        @include title();
    }

    &__text {
        margin-bottom: 3vh;

        font-size: 14px;
        line-height: 28px;
        font-weight: 300;
    }

    &__links {

        &-start,
        &-explore {
           @include btn();
        }

        &-start:hover,
        &-explore:hover {
           @include btn-hover();
        }



    }
}

@mixin btn {

    padding: 1vh 2vw;
    background-color: #fff;
    box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
    border-radius: 25px;
    font-size: 12px;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #c2c9db;
}

@mixin btn-hover {
    background-color: #6e45e2;
    color: #fff;
    transition: all 1s ease-in-out;
    transform: scale(0.899);
}



@mixin arrow-down {
    .bi {
        margin-top: 14vh;
        width: 34px;
        height: 34px;
        box-shadow: 0px 0px 19px 2px rgba(203, 203, 223, 0.5);
        border-radius: 32px;
        background-color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #6e45e2;
        }

    }

    .arrow:hover {
        transform: scale(1.1);
        transition: all 1 ease-in-out;
    }
}

@mixin bg-gradient {
    background: #6681EA;
    background: -moz-linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
    background: -webkit-linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
    background: linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);
}

@mixin info {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $color-grey;
}

@mixin title {
    margin-bottom: 2vh;

    font-size: 46px;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: $color-dark;
}




// ===================== / mixins =============================== //




// ===================== variables =============================== //

$color-dark: #4f4f6f;
$color-grey: #9fa4af;
$color-violet: #6e45e2;


// ===================== / variables =============================== //



// ===================== common =============================== //
a,
button {
    cursor: pointer;
}

a:active,
button:active {
    opacity: .2;
}

a,
a:hover {
    text-decoration: none;

}

a:hover {
    color: $color-violet;
}

.hyphen {
    color: $color-violet;
}


.owl-carousel {
    outline: none;
}

// ===================== / common  =============================== //



// ===================== header  =============================== //

.header {
    @include font-main();
    @include arrow-down();

    height: 120vh;
    padding-top: 6vh;
    padding-bottom: 6vh;

    background: url("../img/header_bg.png") no-repeat;
    background-size: cover;
    color: #fff;

    .logo {
        &__name {
            margin-top: 1vh;

            font-size: 30px;
            line-height: 29px;
            font-weight: 700;
            letter-spacing: 0.2em;
        }

    }

    .nav {
        margin-top: 2vh;

        &__item {

            &-link {
                color: #fff;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .wrap {
        margin-top: 2vh;

        .button {

            border: 1px solid #fff;
            padding: 2vh 2vw;
            border-radius: 20px;

            color: #fff;

            &:hover {
                opacity: .7;
            }
        }


    }

    .note {
        @include note();

        &-info,
        &__title {
            color: #fff;
        }
    }



}

// ===================== / header  =============================== //




// ===================== choose =============================== //

.choose {
    @include arrow-down();

    height: 120vh;
    background: url("../img/choose_bg.png") no-repeat;
    background-size: cover;

    .note {
        @include note();

        &-info,
        &__text {
            color: #9fa4af;
            font-size: 12px;
        }

        &__title {
            color: #4f4f6f;
        }
    }

    .bi {
        margin-top: 10vh;
    }
}


// ===================== / choose =============================== //


.features {
    @include bg-gradient();
    @include font-main();

    height: 180vh;
    padding-top: 8vh;

    &-info {
        color: #fff;

        p {
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        &__title {
            font-size: 40px;
            line-height: 72px;
            letter-spacing: 0.012em;
        }




    }

    .parts {
        margin-top: 10vh;
        color: #fff;

        &__item {
            margin-top: 3vh;
            margin-right: 2vw;

            &-col {


                &_title {
                    margin-bottom: 3vh;
                    font-size: 20px;
                    font-weight: 500;
                }

                &_text {
                    width: 19vw;
                    font-size: 16px;
                    font-weight: 300;
                }
            }

            &-icon {
                margin-right: 2vw;



            }

        }
    }



    .owl-carousel {
        margin-top: 10vh;
        margin-left: 6vw;
        margin-bottom: 10vh;
        padding-bottom: 5vh;

        .owl__item {

            img {
                border-radius: 5px;

            }
        }
    }
}


// ===================== testimonials  =============================== //


.testimonials {
    margin-top: 30vh;
    margin-bottom: 10vh;
    @include arrow-down();

    &-top {
        margin-bottom: 4vh;

        .info {
            @include info();
        }

        .title {
            @include title();
        }
    }

    .response {
        .owl-carousel {
            .owl__item {
                blockquote {
                    @include second-main();
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                    font-style: italic;
                    color: #4f4f6f;
                }

                .fa {
                    color: #9fa4af;
                }

                .fa-quote-left {
                    margin-left: 1vw;
                }

                .person {
                    img {
                        width: 64px;
                        height: 64px;
                        margin-right: 2vw;
                    }

                    p {
                        margin-top: 2vh;

                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        color: #9fa4af;
                    }

                    span {

                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 300;
                        text-transform: none;
                        color: #9fa4af;
                    }
                }
            }
        }
    }
}

// ===================== / testimonials =============================== //



// ===================== about =============================== //

.about {
    height: 105vh;
    padding-top: 15vh;

    background: url("../img/about_bg.png") no-repeat;
    background-size: cover;

    .logo {
        img {
            width: 80%;
        }
    }

    .note {
        @include note();
        margin-top: 10vh;

        &__text {
            color: #9fa4af;
        }

        &__bottom {
            @include arrow-down();
        }
    }

    .info {
        @include info();
    }

    .title {
        @include title();
    }

    .arrow {
        .bi {
            margin-top: 0;
        }
    }


}

// ===================== / about =============================== //



// ===================== team =============================== //

.team {
    @include arrow-down();
    padding-top: 15vh;

    &-info {
        &__title {
            @include title()
        }

        p {
            @include info ()
        }

        &__subtitle {
            text-align: center;
            width: 30vw;
            line-height: 28px;
            font-weight: 400;
            color: #9fa4af;
        }
    }

    &-list {
        margin-top: 10vh;

        &__item {
            margin: 0;
            padding: 0;
            width: 25%;

            img {
                width: 92%;
            }



            &-name {
                margin-top: 5vh;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: #9fa4af;
            }

            &-position {
                font-size: 12px;
                font-weight: 300;
                text-transform: none;
            }
        }
    }
}

// ===================== / team =============================== //


// ===================== articles =============================== //

.articles {
    margin-top: 10vh;
    background-color: #f9fafc;
    padding-bottom: 10vh;

    .note {
        @include note();
        margin-top: 15vh;

        &__text {
            width: 33vw;

            text-transform: none;
        }



        &__links {
            margin-top: 15vh;
        }
    }



    .slide-three {
        margin-top: 3vh;

        .owl__item {
            width: 35vw;
            height: 40vh;
            padding-left: 3vw;
        
            margin-right: 6vw;
            box-shadow: 0px 0px 25px 5px rgba(203, 203, 223, 0.3);
            border-radius: 10px;
            background-color: #fff;

            .title {
                font-size: 18px;
                line-height: 50px;
                font-weight: 500;
                letter-spacing: 0.04em;
                color: #4f4f6f;
            }

            .data {
                margin-top: -6vh;
                font-size: 13px;
                line-height: 28px;
                font-weight: 400;
                color: #9fa4af;
            }

            .text {
                width: 25vw;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: #9fa4af;
            }

            object {
                width: 3vw;
                height: 2vh;
            }

            img {
                width: 30%;
                margin-left: -3vw;
            }

            .count-comments {
                margin-top: -1vh;
                font-size: 11px;
                line-height: 28px;
                font-weight: 400;
                color: #9fa4af;
            }

            .fa {

                background-color: pink;
                width: 2vw;
                height: 4vh;
                border-radius: 5px;
                color: white;

            }


        }
    }

    .arrow {
        @include arrow-down();
    }
}

// ===================== / articles =============================== //



// ===================== notification =============================== //

.notification {
    margin-top: 0;
    padding-top: 0;
    height: 105vh;

    background: url("../img/map.png") no-repeat top center, linear-gradient(45deg, #6681EA 0%, #1C6EA4 0%, #7E43AA 100%);

    .note {
        margin-top: 0;
        @include note();

        &-info,
        &__title,
        &__text {
            color: #fff;
        }
    }
}

// ================================= / notification ========================================== //



// =================================== footer ============================================= //


.footer {
    height: 30vh;
    padding-top: 6vh;
    background-color: #fff;

    .logo {
        margin-top: 1vh;
        margin-left: 4vw;
        &__name {
            margin-top: 1vh;
            
            font-size: 20px;
            line-height: 29px;
            font-weight: 700;
            letter-spacing: 0.2em;
        }

    }

    .nav {
        margin-top: 2vh;

        &__item {

            &-link {
                color: $color-dark;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .wrap {
        margin-top: 2vh;

        .button {

            @include btn();
            border: 2px solid $color-violet;
            padding: 2vh 2vw;
          

            &:hover {
                @include btn-hover();
                
            }
        }


    }

    .rights {
        margin-top: 5vh;

        border-top: 2px solid #f1f1f2;
        padding-top: 3vh;
        color: $color-grey;
        font-size: 14px;
    }

    .fa {
        margin-left: 1vw;
        color: $color-grey;
    }

}



// =================================== / footer ========================================== //